DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=boilerplate_rails_api_development
DATABASE_NAME_TEST=boilerplate_rails_api_test
DATABASE_USERNAME=root
DATABASE_PASSWORD=
JWT_SECRET=changeme_in_production
JWT_ACCESS_EXPIRY=900
JWT_REFRESH_EXPIRY=2592000
RAILS_ENV=development
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
